body {
    margin: 0;
}

@font-face {
    font-family: Pixel-Art;
    src: url(pixelart.eot);
    src: url(pixelart.woff) format("woff"),
    url(pixelart.woff2) format("woff2"),
    url(pixelart.ttf) format("truetype");
}

.main-div {
    background-size: cover;
    position: relative;
    background: black url("Main.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 84px;
    font-family: Pixel-Art, serif;
    text-align: center;
}

.youtube-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-image {
    width: 100%;
    height: 100vh;
}

.available-now-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-family: Pixel-Art, serif;
}

.download-windows-button {
    text-decoration: none;
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: black;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 24px;
    font-family: Pixel-Art, serif;
    color: white;
    width: 282px;
    height: 69px;
    text-align: left;
}

.download-windows-button:hover {
    background: rgba(196, 35, 35, 191);
}

.windows-icon {
    height: 36px;
    width: 61px;
    padding-left: 20px;
    padding-right: 10px;
}

.download-android-button {
    text-decoration: none;
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: black;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 24px;
    font-family: Pixel-Art, serif;
    color: white;
    width: 282px;
    height: 69px;
    text-align: left;
}

.download-android-button:hover {
    background: rgba(196, 35, 35, 191);
}

.android-icon {
    height: 58px;
    width: 58px;
    padding-left: 20px;
    padding-right: 10px;
}

.main-background {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 0 10%;
    justify-content: space-between;
}

.description-text {
    color: white;
    text-align: center;
    word-wrap: break-word;
    max-width: 70%;
    font-size: 32px;
    font-family: Pixel-Art, serif;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 100%;
    height: 2px;
    background: #d5d1d147;
    margin-bottom: 24px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gif-container {
    align-items: center;
    padding-left: 24px;
    width: 846px;
    height: 515px;
    padding-bottom: 180px;
}

.gif {
    border-radius: 55px;
    width: 846px;
    height: 515px;
}

.gif-description {
    color: white;
    text-align: center;
    word-wrap: break-word;
    max-width: 50%;
    font-size: 32px;
    font-family: Pixel-Art, serif;
    margin-left: 200px;
}

.download-now-button {
    background: black;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 24px;
    font-family: Pixel-Art, serif;
    color: white;
    width: 282px;
    height: 69px;
    text-align: center;
}

.download-now-button:hover {
    background: rgba(196, 35, 35, 191);
}

.download-now-button:active {
    outline: 0;
}

.download-now-button:focus {
    outline: 0;
}

.second-line {
    width: 100%;
    height: 2px;
    background: #d5d1d147;
    margin-top: 24px;
}

.progress-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.progress-title {
    color: white;
    text-align: center;
    word-wrap: break-word;
    max-width: 50%;
    font-size: 64px;
    font-family: Pixel-Art, serif;
    margin-left: auto;
    margin-right: auto;
}

.progress-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.progress-item-text {
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Pixel-Art, serif;
}

.progress-item-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-item-first-image {
    width: 1100px;
    height: 800px;
    border-radius: 55px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.progress-item-second-image {
    width: 1100px;
    height: 800px;
    border-radius: 55px;
    padding-left: 64px;
}

.progress-item-description {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: Pixel-Art, serif;
    margin-left: auto;
    margin-right: auto;
}
